/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {

    background-color: pink;
  }

body {
 background-color: pink;
 padding: 10px;
 margin-bottom: 10px;
 border: solid 3px palegreen;
}
#content {
  background-color: pink;
}

#prius {
  width: 500px
  
}