/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
    padding: 10px;
    margin-bottom: 10px;
    background-color: orange;
  }

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: black
  
}
h2 {
  color: black
}
.minor-section {
    border: solid 1px white;
    background-color: olive;

  }
p {
    color: black
}
body {
    background-color: orange;
    padding: 10px;
    margin-bottom: 10px;
    }

#screenshot-1 {
  width: 800px
}

#screenshot-2 {
  width: 800px
}
#screenshot-3 {
  width:800px
}

#output {
  border: dashed 2px slategray;
  background-color: pink;
}